body { background: #dd8777; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 57px; display: flex; }
.block-cache-0 { color: #a45cc1; font-size: 16px; margin-bottom: 5px; }
.block-invoice-1 { color: #1cc00a; font-size: 13px; margin-bottom: 5px; }
.block-token-2 { color: #3bb59e; font-size: 20px; margin-bottom: 5px; }
.block-product-3 { color: #aa0824; font-size: 13px; margin-bottom: 5px; }
.block-router-4 { color: #8220e7; font-size: 13px; margin-bottom: 5px; }